@media (prefers-color-scheme: dark) {
    //SASS variables
    $body-bg-color: black;
    $header-sidebar-bg-color: #020203; //Unchanged

    $shadow-color: #ffffffbf;

    $scrollbar-track-bg-color: #2c2c2c;
    $scrollbar-thumb-bg-color: #747373;
    $scrollbar-thumb-bg-color--hover: lighten($scrollbar-thumb-bg-color, 10%);
    $scrollbar-thumb-bg-color--active: lighten($scrollbar-thumb-bg-color, 20%);


    $bg-color-primary: red; //Unchanged
    $bg-color-secondary: #cfd4d7;
    $bg-color-tertiary: #0b0b0b;

    $radar-line-stroke-color: rgb(51, 51, 51);

    $text-color-primary: white;
    $text-color-secondary: #646879;
    $text-color-tertiary: red; //Unchanged
    $text-color-quaternary: black;

    $bars-bg-color--hover: #1f1f1f;


    //CSS variables
    :root {
        --body-bg-color: #{$body-bg-color};
        --header-sidebar-bg-color: #{$header-sidebar-bg-color};

        --shadow-color: #{$shadow-color};

        --scrollbar-track-bg-color: #{$scrollbar-track-bg-color};
        --scrollbar-thumb-bg-color: #{$scrollbar-thumb-bg-color};
        --scrollbar-thumb-bg-color--hover: #{$scrollbar-thumb-bg-color--hover};
        --scrollbar-thumb-bg-color--active: #{$scrollbar-thumb-bg-color--active};

        --bg-color-primary: #{$bg-color-primary};
        --bg-color-secondary: #{$bg-color-secondary};
        --bg-color-tertiary: #{$bg-color-tertiary};

        --radar-line-stroke-color: #{$radar-line-stroke-color};

        --text-color-primary: #{$text-color-primary};
        --text-color-secondary: #{$text-color-secondary};
        --text-color-tertiary: #{$text-color-tertiary};
        --text-color-quaternary: #{$text-color-quaternary};

        --bars-bg-color--hover: #{$bars-bg-color--hover};
    }
}