@use "../utils/" as *;

.side-bar {
    display: flex;


    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0px 10px 10px var(--shadow-color);

    width: 115px;

    min-height: 95vh;
    height: auto;

    background-color: var(--header-sidebar-bg-color);

    @include mobile-only {
        flex-direction: column;
        width: 100%;
        gap: 25px;
        min-height: 40vh;

        box-shadow: 0px 0px 10px var(--shadow-color);
    }

    &__nav {
        height: inherit;

    }

    &__unordered-list {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        @include mobile-only {
            // flex-direction: column;
            @include grid(2, 2, auto)
        }
    }

    &__list-item {
        display: inherit;
        justify-content: center;
        align-items: center;

    }

    &__link {
        background-color: white;

        padding: 13px;

        border-radius: 6px;
    }

    &__copyright {
        color: var(--header-sidebar-color);
        white-space: nowrap;
        rotate: 270deg;

        @include mobile-only {
            rotate: 0deg;
        }
    }


}