@keyframes blink {
    from {
        opacity: 80%;
    }

    to {
        opacity: 20%;
    }
}


@keyframes hammering {
    from {
        rotate: 45deg;
    }

    to {
        rotate: -80deg;
    }
}