//SASS variables
//
$body-bg-color: white;
$header-sidebar-bg-color: #020203;
$header-sidebar-color: white;

$shadow-color: #00000040;

$scrollbar-track-bg-color: black;
$scrollbar-thumb-bg-color: black;
$scrollbar-thumb-bg-color--hover: black;
$scrollbar-thumb-bg-color--active: black;


$bg-color-primary: red;
$bg-color-secondary: #282D30;
$bg-color-tertiary: #FBFBFB;

$text-color-primary: black;
$text-color-secondary: #74798C;
$text-color-tertiary: red;
$text-color-quaternary: white;

$bars-bg-color--hover: #C4C4C480;


//CSS variables
:root {
    --body-bg-color:#{$body-bg-color};
    --header-sidebar-bg-color:#{$header-sidebar-bg-color};
    --header-sidebar-color:#{$header-sidebar-color};

    --shadow-color: #{$shadow-color};

    --scrollbar-track-bg-color: #{$scrollbar-track-bg-color};
    --scrollbar-thumb-bg-color: #{$scrollbar-thumb-bg-color};
    --scrollbar-thumb-bg-color--hover: #{$scrollbar-thumb-bg-color--hover};
    --scrollbar-thumb-bg-color--active: #{$scrollbar-thumb-bg-color--active};

    --bg-color-primary:#{$bg-color-primary};
    --bg-color-secondary:#{$bg-color-secondary};
    --bg-color-tertiary:#{$bg-color-tertiary};


    --text-color-primary:#{$text-color-primary};
    --text-color-secondary:#{$text-color-secondary};
    --text-color-tertiary:#{$text-color-tertiary};
    --text-color-quaternary:#{$text-color-quaternary};

    --bars-bg-color--hover:#{$bars-bg-color--hover};
}