@use "../Utils/" as *;

.error-404 {
    @include center-flex-column(50px);
    width: 100%;
    min-height: 80vh;

    text-align: center;

    &__title {
        font-weight: 500;
    }

    &__subtitle {
        font-weight: 400;
    }

    &__link {
        font-weight: 300;
        text-decoration: underline;
    }
}