@use "../Utils/" as *;

.work-in-progress {
    @include center-flex-column;
    width: 100%;
    min-height: 80vh;

    &__title {
        @include center-flex;
    }

    &__hammer {
        display: block;

        translate: -10px -35px;

        aspect-ratio: 1/1;
        height: 48px;
        line-height: 48px;

        transform-origin: center 60%;

        animation-name: hammering;
        animation-timing-function: ease-in;
        animation-duration: 500ms;
        animation-direction: alternate;
        animation-fill-mode: both;
        animation-iteration-count: infinite;

    }
}