//Given the fact that @import is deprecated → must use @use and @forward instead
@use "../Utils/" as *;

//Removes ANY animation if the user has the reduced motion option enabled in their device
@media (prefers-reduced-motion) {

    *,
    :before,
    ::after {
        -webkit-animation: none !important;
        animation: none !important;

        transition: none !important;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vmax;
}


body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--body-bg-color);
    color: var(--text-color-primary);
    transition: background-color 350ms ease-out,
        color 350ms ease-out;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background-color: transparent;
}


input {
    border: none;

    &:focus {
        border: none;
        outline: none;
    }

}

a {
    text-decoration: none;

    &:visited {
        color: initial;
    }
}

label {
    &:hover {
        cursor: pointer;
    }
}