@use "../Utils/" as *;

.profile {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;

    &__content {
        width: 90%;
        margin-block: 50px;
    }

    &__greeting-sentence {
        margin-bottom: 45px;

        @include mobile-only {
            font-size: 42px;
        }
    }

    &__recap-sentence {
        @include mobile-only {
            font-size: 14px;
        }
    }

    &__name {
        color: var(--text-color-tertiary)
    }

    &__data-container {
        display: flex;
        gap: 30px;

        margin-top: 50px;

        @include laptop-only {
            flex-direction: column-reverse;
            gap: 100px;
        }

        @include tablet-only {
            flex-direction: column-reverse;
            gap: 100px;
        }

        @include mobile-only {
            flex-direction: column-reverse;
            gap: 100px;
        }
    }


    &__charts-data {
        @include grid(2, 3, 30px);

        @include laptop-only {
            @include center-flex-column(50px)
        }

        @include tablet-only {
            @include center-flex-column(50px)
        }

        @include mobile-only {
            @include center-flex-column(50px)
        }
    }


    &__key-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        @include laptop-only {
            gap: 35px;
        }

        @include tablet-only {
            gap: 35px;
        }

        @include mobile-only {
            gap: 35px;
        }
    }
}


.content-wrapper {
    display: flex;

    @include mobile-only {
        flex-direction: column-reverse;
    }
}


.chart {
    width: 100%;

    background-color: var(--bg-color-tertiary);
    border-radius: 5px;

    overflow: hidden;



    &__bar {
        grid-column-end: span 3;

        max-height: 355px;

        @include laptop-only {
            height: 335px;
        }

        @include tablet-only {
            height: 335px;
        }

        @include mobile-only {
            height: 335px;
        }

    }

    &__line {
        height: 265px;
        min-width: 300px;
        background-color: var(--bg-color-primary);
    }

    &__radar {
        height: 265px;
        min-width: 300px;
        background-color: var(--bg-color-secondary);
    }

    &__gauge {
        height: 265px;
        min-width: 300px;
    }


    &__canvas {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}


.key-data-card {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 280px;

    min-width: 250px;

    height: 125px;

    padding: 0 20px;

    background-color: var(--bg-color-tertiary);
    border-radius: 5px;



    @include laptop-only {
        width: 100%;
    }

    @include tablet-only {
        width: 100%;
    }

    @include mobile-only {
        width: 100%;
    }

    &__image-container {

        @include center-flex-column;

        padding: 20px;

        border-radius: inherit;

        &--calorie-count {
            background-color: var(--calorie-icon-color);
        }

        &--protein-count {
            background-color: var(--proteins-icon-color);
        }

        &--carbohydrate-count {
            background-color: var(--carbohydrates-icon-color);
        }

        &--lipid-count {
            background-color: var(--fats-icon-color);
        }
    }


    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        text-align: left;

        margin: auto auto auto 35px;

        @include laptop-only {
            text-align: center;
            margin: auto;
        }

        @include tablet-only {
            text-align: center;
            margin: auto;
        }

        @include mobile-only {
            text-align: center;
            margin: auto;
        }

        gap: 5px;

        overflow: hidden;
    }

    &__count {
        @include text-ellipsis-effect;

        @include mobile-only {
            font-size: 22px;
        }
    }

    &__count-type {
        color: var(--text-color-secondary);
        @include text-ellipsis-effect;

        @include mobile-only {
            font-size: 18px;
        }
    }
}


.bars-chart {
    width: 100%;
    height: 380px;

    position: relative;

    @include laptop-only {
        padding-bottom: 30px;

    }

    @include tablet-only {
        padding-bottom: 60px;

    }

    @include mobile-only {
        padding-bottom: 60px;

    }

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;

    }

    &__paragraph {
        margin-left: 55px;
        margin-top: 15px;

        font-weight: 500;
        font-size: 16px;

        flex: 1;
    }

    &__legend-list {
        display: flex;

        @include mobile-only {
            flex-direction: column;
            gap: 0px;
        }

        flex: 1;
        gap: 60px;
    }

    &__legend-item {
        position: relative;

        margin-left: 55px;
        margin-top: 15px;

        color: var(--text-color-secondary);

        &--dark-grey-dot {

            &::before {
                content: "";
                position: absolute;
                left: -20px;
                bottom: 20%;

                aspect-ratio: 1/1;
                height: 10px;

                background-color: var(--bg-color-secondary);

                border-radius: 50%;
            }

        }

        &--red-dot {

            &::before {
                content: "";
                position: absolute;
                left: -20px;
                bottom: 20%;

                aspect-ratio: 1/1;
                height: 10px;

                background-color: var(--bg-color-primary);

                border-radius: 50%;
            }
        }

    }

    & .recharts-rectangle.recharts-tooltip-cursor {
        fill: var(--bg-color-secondary);
        opacity: 20%;
    }

}

.line-chart {
    width: inherit;
    height: inherit;

    position: relative;
    @include center-flex-column;

    &::before {
        content: "Durée moyenne des sessions";

        position: absolute;
        top: 25px;
        left: 30px;

        max-width: 150px;

        @include laptop-only {
            max-width: none;
        }

        color: var(--text-color-quaternary);

        opacity: 70%;
    }


}

.radar-chart {
    width: inherit;
    height: inherit;

    position: relative;
    @include center-flex-column;

    &::before {
        content: "";
    }

    .recharts-curve.recharts-tooltip-cursor {
        stroke: var(--radar-line-stroke-color);
    }


}


.gauge-chart {
    width: inherit;
    height: inherit;

    position: relative;
    @include center-flex-column;

    &::before {
        content: "Score";
        position: absolute;
        top: 25px;
        left: 30px;
    }

    &__percentage {
        @include absolute-center;
    }

    &__subtitle {
        position: absolute;

        top: 55%;
        color: var(--text-color-secondary);
        text-align: center;
        width: 65px;
    }

    & .recharts-sector.recharts-tooltip-cursor {
        stroke: none;
    }
}


.tool-tip {

    &__bar-chart {
        background-color: var(--bg-color-primary);

        &-text {
            color: var(--text-color-quaternary);
            font-size: 12px;
            padding: 10px 10px;
            font-weight: 500;
        }
    }

    &__line-chart {
        background-color: var(--body-bg-color);

        &-text {
            color: var(--text-color-primary);
            font-size: 12px;
            padding: 10px 10px;
            font-weight: 500;
        }
    }


    &__radar-chart {
        background-color: var(--body-bg-color);

        &-text {
            color: var(--text-color-primary);
            font-size: 12px;
            padding: 10px 10px;
            font-weight: 500;
        }
    }

    &__gauge-chart {
        background-color: var(--body-bg-color);

        &-text {
            color: var(--text-color-primary);
            font-size: 12px;
            padding: 10px 15px;
            font-weight: 500;
            width: 120px;
        }
    }
}


.responsive-container {
    @include laptop-only {
        display: none;
    }


    @include tablet-only {
        display: none;
    }

    @include mobile-only {
        display: none;
    }

}